---
#Front End Matter Initialization - Do Not Delete This
---
@import "common.scss";
@import "common-imports/variables.scss";
@import "common-imports/app-nav.scss";
@import "common-imports/app-footer.scss";

@-webkit-keyframes cursor-blink-soft{0%,49%{opacity:1}50%,100%{opacity:0}}
@keyframes cursor-blink-soft{0%,49%{opacity:1}50%,100%{opacity:0}}


.homePage {
  .jumbotronSection {
    background: $black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.065) 1px, transparent 1px),linear-gradient(to bottom, rgba(255, 255, 255, 0.065) 1px, transparent 1px);
    background-size: 35px 35px;
    .posContainer {
      padding: 100px 20px;
      max-width: 600px;
      h1 {
        font-size: 2.0rem;
        letter-spacing: -2px;
        color: $white;
      }
      .subText {
        color: #bbb;
        margin-bottom: 30px;
      }
      .terminal {
        border-radius: 10px;
        background: #111;
        max-width: 450px;
        margin: 0 auto 15px;
        .tHeader {
          padding: 10px 15px;
          color: #aaa;
          font-size: 0.8rem;
          border-bottom: 1px solid #222;
        }
        .tBody {
          padding: 12px 15px 14px;
          p {
            margin: 0;
            font-family: $headingFont;
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: $white;
            .cursor {
              width: 7px;
              height: 15px;
              background: $white;
              display: inline-block;
              vertical-align: middle;
              margin-top: -4px;
              margin-left: 5px;
              animation: cursor-blink-soft 1.2s ease-in-out infinite;
            }
          }
        }
      }
      .buttonContainer {
        display: flex;
        gap: 0 5px;
        max-width: 450px;
        margin: 0 auto;
        .btn-default {
          border: 0;
          border-radius: 10px;
          flex-basis: 50%;
          text-decoration: none;
          color: $white;
          padding: 11px 14px 13px;
          font-size: 0.9rem;
          line-height: 25px;
          font-weight: 500;
          &.npm {
            background: #c0392b;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }
          &.git {
            background: #141E30;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }
        }
      }
    }
  }
  .experience {
    background: $black;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    .container {
      padding: 50px 20px;
      p {
        color: $white;
        &:first-child {
          font-size: 1.2rem;
        }
        &:last-child {
          margin-bottom: 0;
          font-family: $headingFont;
          font-style: italic;
          font-size: 0.8rem;
        }
      }
    }
  }
  .integration {
    background: $black;
    padding: 50px 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.065) 1px, transparent 1px),linear-gradient(to bottom, rgba(255, 255, 255, 0.065) 1px, transparent 1px);
    background-size: 35px 35px;
    .codeEditor {
      margin-top: -80px;
      padding: 0;
      border-radius: 20px;
      overflow: hidden;
      border: 1px solid #333;
      background: #111;
      .header {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid #333;
        .segment {
          flex-basis: 50%;
          color: $white;
          font-family: $headingFont;
          font-size: 0.8rem;
          &:last-child {
            display: none;
          }
          .round {
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            &.red {
              background: red;
            }
            &.yellow {
              background: yellow;
            }
            &.green {
              background: green;
            }
          }
        }
      }
      .body {
        padding: 20px;
        pre {
          font-family: $headingFont;
          font-size: 0.8rem;
          color: $white;
          margin-bottom: 0;
          .cursor {
            width: 7px;
            height: 15px;
            background: $white;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            margin-left: 2px;
            animation: cursor-blink-soft 1.2s ease-in-out infinite;
          }
          .comment {
            opacity: 0.3;
            &.info {
              display: block;
              margin-top: 30px;
            }
          }
          .purple {
            color: #c084fc;
          }
          .green {
            color: #4ade80;
          }
          .blue {
            color: #60a5fa;
          }
          .orange {
            color: #ffa500;
          }
        }
      }
    }
  }
  .features {
    background: $black;
    padding: 50px 20px;
    ul {
      max-width: 1200px;
      margin: 0 auto;
      li {
        border: 1px solid #333;
        padding: 25px 20px;
        img {
          filter: invert(1) opacity(0.5);
          width: 25px;
          margin-bottom: 12.5px;
        }
        h3 {
          font-weight: 500;
          font-size: 0.9rem;
          color: $white;
          margin-bottom: 12.5px;
        }
        p {
          font-size: 0.9rem;
          color: #ccc;
          margin-bottom: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .homePage {
    .jumbotronSection {
      .posContainer {
        h1 {
          font-size: 2.9rem;
          word-spacing: -5px;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
    .integration {
      .codeEditor {
        .header {
          padding: 20px 40px;
          .segment {
            &:first-child {
              flex-basis: 30%;
            }
            &:last-child {
              flex-basis: 70%;
              display: block;
              text-align: right;
              p {
                font-weight: 300;
                font-size: 0.7rem;
                font-family: $headingFont;
                color: #888;
                margin-top: 2px;
                margin-bottom: 0;
              }
            }
          }
        }
        .body {
          padding: 50px 40px 20px;
        }
      }
    }
    .features {
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          flex-basis: 50%;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .homePage {
    .experience {
      .container {
        display: flex;
        p {
          &:first-child {
            width: 80%;
            border-right: 1px solid #444;
            font-size: 1.4rem;
            line-height: 2.0rem;
            padding-right: 25px;
            margin-bottom: 0;
          }
          &:last-child {
            line-height: 1.3rem;
            width: 20%;
            padding-left: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            br {
              display: none;
            }
          }
        }
      }
    }
    .features {
      ul {
        mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9) 6%, rgba(0, 0, 0, 0.9) 89%, transparent);
        -webkit-mask-image: -webkit-linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9) 6%, rgba(0, 0, 0, 0.9) 89%, transparent);
        li {
          flex-basis: 33%;
          flex-grow: 1;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .homePage {
    .jumbotronSection {
      .posContainer {
        padding: 150px 20px;
        max-width: 700px;
      }
    }
    .experience {
      .container {
        padding: 50px 0;
      }
    }
    .features {
      ul {
        padding: 0 30px;
      }
    }
  }
}
